<%= form_for @recipe do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <fieldset id="ingredient_fields">
    <legend>Ingredients</legend>
    <input type="text" name="recipe[ingredients_attributes][][name]">
  </fieldset>
  <%= f.submit %>
<% end %>

<p><button id="add_ingredient_field">Additional Ingredient</button></p>

<div class="recipe_display">

</div>
