<%= @recipe.name %>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name, ingredient_path(ingredient), remote: true %></li>

  <% end %>
</ul>


<h4>Recipes with this ingredient</h4>
<div id="other_recipes">
</div>
